<tr>
{{#properties}}
  <td>{{name}}</td>
  <td>{{address}}</td>
  <td>{{agent}}</td>
  <td>{{amount}}</td>
  <td>{{dateString}}</td>
  <td>{{campaign}}</td>
  <td>{{ward}}</td>
  <td>{{year}}</td>
{{/properties}}
</tr>
