<tr>
{{#properties}}
  <td>{{contributor}}</td>
  <td>{{address}}</td>
  <td>{{agent}}</td>
  <td>{{amount}}</td>
  <td>{{dateString}}</td>
  <td>{{candidate}}</td>
  <td>{{committee}}</td>
  <td>{{ward}}</td>
  <td>{{year}}</td>
{{/properties}}
</tr>
